:root {
    /* Font Color */
    --theme-font-color1: #ffffff;
    --theme-font-color2: #263861;
    --theme-font-color3: #ea3f3f;
    --theme-font-color4: #25a9e0;
    --theme-font-color5: #00c152;
    --theme-font-color6: #b3b3b4;
    --theme-font-color7: #263861;
    --theme-font-color8: #333333;
    --theme-font-color9: #666666;
    --theme-font-color10: #333333;
    --theme-font-color11: #A20BB9;
    --theme-font-color12: #FFC00D;
    --theme-font-color13: #cccccc;
    --theme-font-color14: #29ABE2;
    --theme-font-color15: #999999;
    --theme-font-color16: #263861;
    --theme-font-color17: #231F20;
    --theme-font-color18: #6D6E70;
    --theme-font-color19: #1b75bb;
    --theme-font-color20: #929497;
    --theme-font-color21: #a6a8ab;
    --theme-font-color22: #808184;
    --theme-font-color23: #263861;
    --theme-font-color24: #ee4d2d;
    --theme-font-color25: #C1272D;
    --theme-font-color26: #1CB3A7;
    --theme-font-color27: #EB8263;
    --theme-font-color28: #E15FAE;
    --theme-font-color29: #212529;
    --theme-font-color30: #78aed8;
    --theme-font-color31: #263861;
    --theme-font-color32: #7f2e8d;
    --theme-font-color33: #bababa;
    --theme-font-color34: #1b75bb;
    --theme-font-color35: #939498;
    --theme-font-color36: #0000ff;
    --theme-font-color37: #f7931e;
    --theme-font-color38: #3284c1;
    --theme-font-color39: #d91c5c;
    --theme-font-color40: #e160ad;
    --theme-font-color41: #640E74;
    --theme-font-color42: #FFA500;
    --theme-font-color43: #555555;
    --theme-font-color44: #f36a39;
    --theme-font-color45: #ae777b;
    --theme-font-color46: #EF7044;
    --theme-font-color47: #4DAB73;
    --theme-font-color48: #f9a318;
    --theme-font-color49: #00A99D;
    --theme-font-color50: #FCB237;
    --theme-font-color51: #263861;
    --theme-font-color52: #F97A5D;
    --theme-font-color53: #f07561;
    --theme-font-color54: #827e7e;
    --theme-font-color55: #6495ed;
    --theme-font-color56: #4CD691;
    --theme-font-color57: #e6e7e8;
    --theme-font-color58: #808080;
    --theme-font-color59: #f9a318;
    --theme-font-color60: #FE4542;
    --theme-font-color61: #59565D;
    --theme-font-color62: #ae777b;
    --theme-font-color63: #4472c4;
    /* Fill Color */
    --theme-fill-color1: #fff;
    --theme-fill-color2: #2E4C8E;
    --theme-fill-color3: #2E4C8E;
    --theme-fill-color4: #25a9e0;
    --theme-fill-color5: #00c152;
    --theme-fill-color6: #b3b3b4;
    --theme-fill-color7: #46619c;
    --theme-fill-color8: #2f6eba;
    --theme-fill-color9: #263861;
    --theme-fill-color10: #f7f0ff;
    --theme-fill-color11: #E6E6E6;
    --theme-fill-color12: #EFF0F4;
    --theme-fill-color13: #46619c;
    --theme-fill-color14: #999999;
    --theme-fill-color15: #B3B3B3;
    --theme-fill-color16: #ffd900;
    --theme-fill-color17: #C1C2C3;
    --theme-fill-color18: #BE1E2D;
    --theme-fill-color19: #F1F1F2;
    --theme-fill-color20: #929497;
    --theme-fill-color21: #8BC53F;
    --theme-fill-color22: #D0D2D3;
    --theme-fill-color23: #E7D7FF;
    --theme-fill-color24: #f5eeff;
    --theme-fill-color25: #46619c;
    --theme-fill-color26: #C1272D;
    --theme-fill-color27: #1CB3A7;
    --theme-fill-color28: #EB8263;
    --theme-fill-color29: #f6f7fb;
    --theme-fill-color30: #8a2be2;
    --theme-fill-color31: #ffebec;
    --theme-fill-color32: #cd5c5c;
    --theme-fill-color33: #A8AAC1;
    --theme-fill-color34: #6C788A;
    --theme-fill-color35: #EBFF43;
    --theme-fill-color36: #00FFFF;
    --theme-fill-color37: #bbbbbb;
    --theme-fill-color38: #333333;
    --theme-fill-color39: #222222;
    --theme-fill-color40: #666666;
    --theme-fill-color41: #EEEEEE;
    --theme-fill-color42: #e9ecef;
    --theme-fill-color43: #8fbc8f;
    --theme-fill-color44: #d3d3d3;
    --theme-fill-color45: #BBBDBF;
    --theme-fill-color46: #e6e7e8;
    --theme-fill-color47: #4CD691;
    --theme-fill-color48: #F07561;
    --theme-fill-color49: #1B75BB;
    --theme-fill-color50: #FCFEFD;
    --theme-fill-color51: #ff4500;
    --theme-fill-color52: #DCFAFF;
    --theme-fill-color53: #f6f6f6;
    --theme-fill-color54: #4472c4;
    --theme-fill-color55: #ffe4e1;
    --theme-fill-color56: #71429f;
    --theme-fill-color57: #aa80d5;
    --theme-fill-color58: #e0a800;
    --theme-fill-color59: #1157d0;
    --theme-fill-color60: #edcc6a;
    /* Border Color*/
    --theme-border-color1: #ffffff;
    --theme-border-color2: #9543ea;
    --theme-border-color3: #ea3f3f;
    --theme-border-color4: #25a9e0;
    --theme-border-color5: #00c152;
    --theme-border-color6: #b3b3b4;
    --theme-border-color7: #c5c5c5;
    --theme-border-color8: #dfdfdf;
    --theme-border-color9: #ced4da;
    --theme-border-color10: #999999;
    --theme-border-color11: #A20BB9;
    --theme-border-color12: #B3B3B3;
    --theme-border-color13: #333333;
    --theme-border-color14: #2E4C8E;
    --theme-border-color15: #E2E3E5;
    --theme-border-color16: #808184;
    --theme-border-color17: #58595B;
    --theme-border-color18: #E6E7E8;
    --theme-border-color19: #adb5bd;
    --theme-border-color20: #008000;
    --theme-border-color21: #CCCCCC;
    --theme-border-color22: #F1F1F2;
    --theme-border-color23: #934DC4;
    --theme-border-color24: #1b75bb;
    --theme-border-color25: #f3f3f3;
    --theme-border-color26: #3a3433;
    --theme-border-color27: #78aed8;
    --theme-border-color28: #8a2be2;
    --theme-border-color29: #7030a0;
    --theme-border-color30: #777777;
    --theme-border-color31: #ececed;
    --theme-border-color32: #f7931e;
    --theme-border-color33: #dddddd;
    --theme-border-color34: #e6e7e8;
    --theme-border-color35: #8e4585;
    --theme-border-color36: #d3d3d3;
    --theme-border-color37: #FFA500;
    --theme-border-color38: #6495ed;
    --theme-border-color39: #4CD691;
    --theme-border-color40: #F5735D;
    --theme-border-color41: #5f9ea0;
    --theme-border-color42: #e7d7ff;

    /* Image */
    /* --theme-login-header-background-image: url(../Images/gf-login-header-bg.jpg); */
    --theme-login-header-logo: url(../../Images/logo.svg);
    --theme-login-header-logo-width: 45px;
    --theme-login-header-logo-height: 45px;
    --theme-login-header-logo-top: 4px;
    /* --theme-header-background-image: url(../Images/gf-backend-header-bg.jpg); */
    --theme-header-logo: url(../../Images/logo.svg);
    --theme-header-logo-width: 45px;
    --theme-header-logo-height: 45px;
    --theme-header-logo-name-font: 1rem;
    --theme-header-logo-top: 4px;
    --theme-header-logo-left: 45px;
   /* --theme-icon-back: url(../Images/gf-backend-icon-back.png);
    --theme-icon-alert: url(../Images/gf-backend-icon-alert.png);
    --theme-icon-alert2: url(../Images/gf-backend-icon-alert2.png);
    --theme-icon-alert3: url(../Images/gf-backend-icon-alert3.png);
    --theme-icon-alert4: url(../Images/gf-backend-icon-alert4.png);
    --theme-icon-alert5: url(../Images/gf-backend-icon-alert5.png);
    --theme-icon-profile-alert: url(../Images/icons-profile-alert.png);
    --theme-icon-profile-alert2: url(../Images/icons-profile-alert2.png);
    --theme-icon-profile-alert3: url(../Images/icons-profile-alert3.png);
    --theme-icon-profile-alert4: url(../Images/icons-profile-alert4.png);
    --theme-icon-profile-alert5: url(../Images/icons-profile-alert5.png);
    --theme-icon-profile-alert6: url(../Images/icons-profile-alert6.png);
    /* Custom */
    --theme-fill-color-catchlog: #8fbc8f;
    --theme-font-color-catchlog: #ffffff;
    --theme-fill-color-catchlog-error: #ffebec;
    --theme-font-color-catchlog-header-error: #ea3f3f;
    --theme-font-color-catchlog-body-error: #ea3f3f;
    --theme-fill-color-product-edit-button: #2E4C8E;
    --theme-fill-color-product-clone-button: #25a9e0;
    --theme-border-color-product-clone-button: #25a9e0;
    --theme-font-color-mobile-otp: #2E4C8E;
    --theme-fill-color-search-button-primary: #2E4C8E;
    --theme-border-color-search-button-primary: #2E4C8E;
}
